<div class="navbar-form">
  <%= search_form_for @search do |f| %>
  <%= f.label :search %></br>
  <div class="input-group add-on">
    <%= f.search_field :name_or_email_cont, placeholder: "Name...",class: "form-control" %>
    <div class="input-group-btn">
      <%= f.search_field :id_in,  placeholder: "ID users",class: "form-control" %>

      <%= button_tag( :class => "btn btn-default") do %>
      <i class="glyphicon glyphicon-search"></i>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<table class="table">
  <thead>
    <th><%= sort_link @search, :id,  "ID" %></th>
    <th><%= sort_link @search, :name,  "Name" %></th>
    <th><%= sort_link @search, :email,  "Email" %></th>
    <th><%= sort_link @search, :address,  "Address" %></th>
    <th><%= sort_link @search, :role,  "Role" %></th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= link_to user.name, user_path(user) %></td>
      <td><%=user.email %></td>
      <td><%=user.address %></td>
      <td><%=user.role %></td>
    </tr>
    <% end %>
  </tbody>
</table>
