<div class="col-sm-6 col-lg-4 pd-product-item">
  <div class="card">
    <div class="div-button-card">
    <img src= "assets/product/<%= product.name_image%>" alt= <%= product.name_image%>  width="300px" height="170px">
    </div>
    <!-- <img src= <%= product.name_image%> alt="Denim Jeans" style="width:100%"> -->
    <h1><%= product.description_sort %></h1>
      <p class="price"><%= number_to_currency(product.price_out, locale: :en)%></p>
      <p class="description-long-product" > <%= product.description_long %></p>
      <p><button><%= t(".add_to_card")  %></button></p>
  </div>
</div>
