<div class="navbar-form">
  <%= search_form_for @search do |f| %>
  <%= f.label :search %></br>
  <div class="input-group add-on">
    <%= f.text_field :name_cont, class: "form-control" %>
    <div class="input-group-btn">
      <%= f.select(:category_id_in, select_category, {include_blank: t(".none")},class: "form-control") %>

      <%= button_tag(class: "btn btn-default") do %>
      <i class="glyphicon glyphicon-search"></i>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
